<%= form_for(@usuario) do |u|%>
	<div class="field">
		<%= u.label :nombre%>
		<%= u.text_field :nombre%>
	</div>
		<div class="field">
		<%= u.label :email%>
		<%= u.text_field :email%>
	</div>
		<div class="actions">
		<%= u.submit 'Guardar'%>
	</div>
<% end %>